@charset "UTF-8";
.button__homeandup {
  display: flex;
  margin-bottom: 60px;
  padding: 20px 120px 0 120px;
}
@media screen and (max-width: 1080px) {
  .button__homeandup {
    margin-bottom: 40px;
    padding: 0 90px;
  }
}
@media screen and (max-width: 640px) {
  .button__homeandup {
    margin-bottom: 40px;
    padding: 0 40px;
    justify-content: space-around;
  }
}

.button__home {
  background-color: #d0d9d6;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 20px;
}
.button__home:hover {
  background-color: #6c8280;
}
@media screen and (max-width: 1080px) {
  .button__home:hover:active {
    background-color: #6c8280;
  }
}
@media screen and (max-width: 640px) {
  .button__home {
    margin: 0;
  }
}
.button__home a {
  text-decoration: none;
  color: #2b2b2b;
  font-weight: 600;
}
@media screen and (max-width: 640px) {
  .button__home a {
    font-size: 14px;
  }
}
.button__home a:hover {
  color: white;
}
@media screen and (max-width: 1080px) {
  .button__home a:hover:active {
    color: white;
  }
}

.button__up {
  background-color: #d0d9d6;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 20px;
}
.button__up:hover {
  background-color: #6c8280;
}
@media screen and (max-width: 1080px) {
  .button__up:hover:active {
    background-color: #6c8280;
  }
}
@media screen and (max-width: 640px) {
  .button__up {
    margin: 0;
  }
}
.button__up a {
  text-decoration: none;
  color: #2b2b2b;
  font-weight: 600;
}
@media screen and (max-width: 640px) {
  .button__up a {
    font-size: 14px;
  }
}
.button__up a:hover {
  color: white;
}
@media screen and (max-width: 1080px) {
  .button__up a:hover:active {
    color: white;
  }
}

.onas {
  padding: 0;
}

.onas__majitelka {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #e8dfe1;
  padding: 30px 120px;
  margin-bottom: 60px;
  margin-top: 30px;
  gap: 20px;
}
@media screen and (max-width: 1080px) {
  .onas__majitelka {
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 90px;
  }
}
@media screen and (max-width: 900px) {
  .onas__majitelka {
    padding: 20px 40px;
    gap: 15px;
  }
}
@media screen and (max-width: 640px) {
  .onas__majitelka {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 450px) {
  .onas__majitelka {
    display: block;
    margin-bottom: 20px;
  }
}
.onas__majitelka img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 8px solid white;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #C9C8C8;
}
.onas__majitelka .onas__majitelka--description {
  grid-column: 1/4;
}
@media screen and (max-width: 1080px) {
  .onas__majitelka .onas__majitelka--description {
    grid-column: 1/3;
  }
}
@media screen and (max-width: 640px) {
  .onas__majitelka .onas__majitelka--description {
    grid-column: 1/2;
  }
}
@media screen and (max-width: 450px) {
  .onas__majitelka .onas__majitelka--description {
    display: block;
  }
}

.onas__nadpis {
  font-size: 36px;
  margin-bottom: 10px;
  padding: 0;
  font-family: "Grand Hotel", cursive;
  font-weight: 400;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .onas__nadpis {
    font-size: 32px;
  }
}
@media screen and (max-width: 640px) {
  .onas__nadpis {
    font-size: 28px;
  }
}
@media screen and (max-width: 450px) {
  .onas__nadpis {
    font-size: 24px;
  }
}

.onas__text {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.onas__interiery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  background-color: #e8dfe1;
  padding: 30px 120px;
  margin-bottom: 60px;
  gap: 20px;
}
@media screen and (max-width: 1080px) {
  .onas__interiery {
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 90px;
  }
}
@media screen and (max-width: 900px) {
  .onas__interiery {
    padding: 20px 40px;
    gap: 15px;
  }
}
@media screen and (max-width: 640px) {
  .onas__interiery {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 450px) {
  .onas__interiery {
    display: block;
    margin-bottom: 20px;
  }
}
.onas__interiery img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 8px solid white;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #C9C8C8;
}
@media screen and (max-width: 450px) {
  .onas__interiery img {
    margin-bottom: 10px;
  }
}

.onas__interiery--description {
  grid-column: 1/-1;
}

.onas__tym {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #e8dfe1;
  padding: 30px 120px;
  margin-bottom: 60px;
  gap: 20px;
}
@media screen and (max-width: 1080px) {
  .onas__tym {
    padding: 30px 90px;
  }
}
@media screen and (max-width: 900px) {
  .onas__tym {
    padding: 20px 40px;
    gap: 15px;
  }
}
@media screen and (max-width: 640px) {
  .onas__tym {
    display: block;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 450px) {
  .onas__tym {
    display: block;
    margin-bottom: 20px;
  }
}
.onas__tym .onas__tym--description {
  grid-column: 1/-1;
}
.onas__tym .onas__tym--clenove {
  font-size: 24px;
}
@media screen and (max-width: 900px) {
  .onas__tym .onas__tym--clenove {
    font-size: 21px;
  }
}
@media screen and (max-width: 640px) {
  .onas__tym .onas__tym--clenove {
    font-size: 18px;
  }
}
.onas__tym img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 8px solid white;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #C9C8C8;
  margin: auto;
  padding: 0;
}
@media screen and (max-width: 1080px) {
  .onas__tym img {
    width: 60%;
  }
}
@media screen and (max-width: 900px) {
  .onas__tym img {
    width: 70%;
  }
}
@media screen and (max-width: 640px) {
  .onas__tym img {
    margin: auto;
  }
}
@media screen and (max-width: 450px) {
  .onas__tym img {
    width: 100%;
    margin-bottom: 30px;
  }
}
.onas__tym .onas__clen--veronika {
  grid-column: 1/2;
}
.onas__tym .onas__clen--martina {
  grid-column: 2/-1;
}

.onas__description {
  grid-column: 1/-1;
  font-size: 18px;
}
@media screen and (max-width: 1080px) {
  .onas__description {
    grid-column: 1/3;
  }
}
@media screen and (max-width: 900px) {
  .onas__description {
    grid-column: 1/-1;
  }
}
@media screen and (max-width: 640px) {
  .onas__description {
    grid-column: 1/2;
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  .onas__description {
    font-size: 12px;
  }
}

.cakes__klasik {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 20px;
  padding: 30px 120px;
  gap: 20px;
}
@media screen and (max-width: 1080px) {
  .cakes__klasik {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 90px;
  }
}
@media screen and (max-width: 760px) {
  .cakes__klasik {
    gap: 10px;
  }
}
@media screen and (max-width: 640px) {
  .cakes__klasik {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
    padding: 10px 40px;
    gap: 20px;
  }
}
@media screen and (max-width: 450px) {
  .cakes__klasik {
    padding: 10px 20px;
    gap: 15px;
  }
}
@media screen and (max-width: 400px) {
  .cakes__klasik {
    grid-template-columns: 1fr;
  }
}
.cakes__klasik a {
  text-decoration: none;
}

.cakes__description {
  grid-column: 1/-1;
}
.cakes__description .cakes__nadpis {
  font-size: 42px;
  font-family: "Grand Hotel", cursive;
  font-weight: 400;
  padding-bottom: 10px;
}
@media screen and (max-width: 900px) {
  .cakes__description .cakes__nadpis {
    font-size: 36px;
  }
}
@media screen and (max-width: 640px) {
  .cakes__description .cakes__nadpis {
    font-size: 30px;
  }
}

.cakes__description--paragr {
  margin: 0;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}
@media screen and (max-width: 640px) {
  .cakes__description--paragr {
    font-size: 14px;
  }
}

.cake {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #C9C8C8;
  overflow: hidden;
}
@media screen and (max-width: 1240px) {
  .cake {
    padding: 15px;
  }
}
@media screen and (max-width: 1080px) {
  .cake {
    padding: 12px;
  }
}
@media screen and (max-width: 760px) {
  .cake {
    padding: 10px;
  }
}
@media screen and (max-width: 640px) {
  .cake {
    padding: 15px;
  }
}
@media screen and (max-width: 450px) {
  .cake {
    padding: 10px;
  }
}
.cake h3 {
  margin: 10px 0;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
}
@media screen and (max-width: 1080px) {
  .cake h3 {
    font-size: 18px;
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 960px) {
  .cake h3 {
    font-size: 18px;
    padding: 0;
  }
}
@media screen and (max-width: 760px) {
  .cake h3 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 640px) {
  .cake h3 {
    margin: 5px 0;
    padding-bottom: 5px;
  }
}
.cake .cake__popis {
  text-align: center;
  margin: 0;
  font-size: 14px;
}
@media screen and (max-width: 1080px) {
  .cake .cake__popis {
    font-size: 12px;
  }
}
@media screen and (max-width: 760px) {
  .cake .cake__popis {
    display: none;
  }
}

.cake__image {
  background-image: #d0d9d6;
  margin: auto;
  width: 100%;
  border-radius: 10px;
}
.cake__image:hover {
  border: 3px solid #c2a2c0;
}
@media screen and (max-width: 1080px) {
  .cake__image:active {
    border: 3px solid #c2a2c0;
  }
}

.cake__buttons {
  display: flex;
  border-radius: 10px;
  font-weight: 600;
  justify-content: space-around;
  margin-bottom: 15px;
}
@media screen and (max-width: 760px) {
  .cake__buttons {
    flex-direction: column;
    margin: 0;
  }
}
.cake__buttons .cena {
  flex: 0 1 auto;
  font-size: 14px;
  padding: 10px 20px;
  background-color: #d0d9d6;
  text-align: right;
  margin: 0;
}
@media screen and (max-width: 1240px) {
  .cake__buttons .cena {
    padding: 8px 13px;
  }
}
@media screen and (max-width: 960px) {
  .cake__buttons .cena {
    padding: 5px 10px;
    font-size: 12px;
  }
}
@media screen and (max-width: 760px) {
  .cake__buttons .cena {
    padding: 5px 8px;
    text-align: center;
    margin: 0 30px 10px 30px;
  }
}
@media screen and (max-width: 700px) {
  .cake__buttons .cena {
    margin: 0 20px 10px 20px;
  }
}
@media screen and (max-width: 640px) {
  .cake__buttons .cena {
    font-size: 12px;
    margin: 0 30px 10px 30px;
  }
}
@media screen and (max-width: 450px) {
  .cake__buttons .cena {
    margin: 0 40px 10px 40px;
  }
}
.cake__buttons .objednat {
  padding: 10px 20px;
  background-color: #6c8280;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
@media screen and (max-width: 1240px) {
  .cake__buttons .objednat {
    padding: 8px 13px;
  }
}
@media screen and (max-width: 960px) {
  .cake__buttons .objednat {
    padding: 5px 10px;
    font-size: 12px;
  }
}
@media screen and (max-width: 760px) {
  .cake__buttons .objednat {
    padding: 10px 10px;
    text-align: center;
    margin: 0 30px 10px 30px;
  }
}
@media screen and (max-width: 700px) {
  .cake__buttons .objednat {
    margin: 0 20px 10px 20px;
  }
}
@media screen and (max-width: 640px) {
  .cake__buttons .objednat {
    margin: 0 30px 10px 30px;
    padding: 10px 10px;
  }
}
@media screen and (max-width: 450px) {
  .cake__buttons .objednat {
    margin: 0 40px 10px 40px;
  }
}
.cake__buttons .objednat:hover {
  color: #2b2b2b;
}
@media screen and (max-width: 1080px) {
  .cake__buttons .objednat:hover:active {
    color: #2b2b2b;
  }
}

.cakes__detske {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 20px;
  padding: 30px 120px;
  gap: 20px;
}
@media screen and (max-width: 1080px) {
  .cakes__detske {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 90px;
  }
}
@media screen and (max-width: 640px) {
  .cakes__detske {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
    padding: 10px 40px;
    gap: 10px;
  }
}
@media screen and (max-width: 400px) {
  .cakes__detske {
    grid-template-columns: 1fr;
  }
}
.cakes__detske a {
  text-decoration: none;
}

.cakes__svatba {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 20px;
  padding: 30px 120px;
  gap: 20px;
}
@media screen and (max-width: 1080px) {
  .cakes__svatba {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 90px;
  }
}
@media screen and (max-width: 640px) {
  .cakes__svatba {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
    padding: 10px 40px;
    gap: 10px;
  }
}
@media screen and (max-width: 400px) {
  .cakes__svatba {
    grid-template-columns: 1fr;
  }
}
.cakes__svatba a {
  text-decoration: none;
}

.cakes__vyroci {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 20px;
  padding: 30px 120px;
  gap: 20px;
}
@media screen and (max-width: 1080px) {
  .cakes__vyroci {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 90px;
  }
}
@media screen and (max-width: 640px) {
  .cakes__vyroci {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
    padding: 10px 40px;
    gap: 10px;
  }
}
@media screen and (max-width: 400px) {
  .cakes__vyroci {
    grid-template-columns: 1fr;
  }
}
.cakes__vyroci a {
  text-decoration: none;
}

.line__purple {
  border: 2px solid #c2a2c0;
  padding: 0 120px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.svatba__navod {
  margin-bottom: 40px;
  padding: 0 120px;
  line-height: 1.5;
}
@media screen and (max-width: 1080px) {
  .svatba__navod {
    padding: 0 90px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 900px) {
  .svatba__navod {
    padding: 0 60px;
  }
}
@media screen and (max-width: 640px) {
  .svatba__navod {
    padding: 0 40px;
  }
}
.svatba__navod .svatba__navod--text {
  padding-bottom: 10px;
  font-weight: 600;
}
@media screen and (max-width: 640px) {
  .svatba__navod .svatba__navod--text {
    font-size: 14px;
  }
}

.svatba__kontakt {
  text-decoration: none;
  color: #987092;
}

.svatba__item {
  padding: 0 120px 30px 120px;
  margin-bottom: 60px;
  line-height: 1.5;
}
@media screen and (max-width: 1080px) {
  .svatba__item {
    padding: 0 90px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 900px) {
  .svatba__item {
    padding: 0 60px;
  }
}
@media screen and (max-width: 640px) {
  .svatba__item {
    padding: 0 40px;
    margin-bottom: 20px;
  }
}
.svatba__item .svatba__nadpis--item {
  margin-bottom: 20px;
  padding-top: 20px;
  font-weight: 400;
  font-family: "Grand Hotel", cursive;
  font-size: 42px;
}
@media screen and (max-width: 1080px) {
  .svatba__item .svatba__nadpis--item {
    margin-bottom: 10px;
    font-size: 36px;
  }
}
@media screen and (max-width: 640px) {
  .svatba__item .svatba__nadpis--item {
    padding-top: 0;
    font-size: 30px;
    margin: 0;
  }
}
.svatba__item .svatba__item--nadpis {
  margin-bottom: 10px;
  padding-top: 20px;
}
@media screen and (max-width: 1080px) {
  .svatba__item .svatba__item--nadpis {
    padding-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 640px) {
  .svatba__item .svatba__item--nadpis {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
}
.svatba__item .svatba__text {
  margin-bottom: 20px;
}
@media screen and (max-width: 640px) {
  .svatba__item .svatba__text {
    font-size: 14px;
  }
}

.svatba__item--cakes {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
@media screen and (max-width: 450px) {
  .svatba__item--cakes {
    display: none;
  }
}
.svatba__item--cakes .svatba__item--seznam {
  list-style: none;
}
@media screen and (max-width: 640px) {
  .svatba__item--cakes .svatba__item--seznam {
    font-size: 14px;
  }
}
@media screen and (max-width: 1080px) {
  .svatba__item--cakes {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 640px) {
  .svatba__item--cakes {
    margin-bottom: 10px;
  }
}

.svatba__item--corpus,
.svatba__item--cream,
.svatba__item--decorate {
  text-align: center;
  line-height: 2;
}
@media screen and (max-width: 640px) {
  .svatba__item--corpus,
.svatba__item--cream,
.svatba__item--decorate {
    line-height: 1.5;
  }
}

.svatba__dorty {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
  gap: 20px;
}
@media screen and (max-width: 1080px) {
  .svatba__dorty {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .svatba__dorty {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}
@media screen and (max-width: 640px) {
  .svatba__dorty {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media screen and (max-width: 450px) {
  .svatba__dorty {
    grid-template-columns: repeat(1, 1fr);
  }
}

.svatba__dort--item {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
  box-shadow: 2px 2px 5px #C9C8C8;
}
@media screen and (max-width: 640px) {
  .svatba__dort--item {
    padding: 7px;
  }
}
.svatba__dort--item img {
  background-image: #d0d9d6;
  margin: auto;
  width: 100%;
}

.svatba__cukrovi {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0;
  padding: 0;
  gap: 20px;
}
@media screen and (max-width: 1080px) {
  .svatba__cukrovi {
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
  }
}
@media screen and (max-width: 900px) {
  .svatba__cukrovi {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
}
@media screen and (max-width: 760px) {
  .svatba__cukrovi {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .svatba__cukrovi {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media screen and (max-width: 450px) {
  .svatba__cukrovi {
    grid-template-columns: repeat(1, 1fr);
  }
}

.svatba__cukrovi--item {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
  box-shadow: 2px 2px 5px #C9C8C8;
}
@media screen and (max-width: 450px) {
  .svatba__cukrovi--item {
    padding: 5px;
  }
}
.svatba__cukrovi--item img {
  background-image: #d0d9d6;
  margin: auto;
  width: 100%;
}
.svatba__cukrovi--item .svatba__cukrovi--nadpis {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  padding-bottom: 10px;
}
@media screen and (max-width: 900px) {
  .svatba__cukrovi--item .svatba__cukrovi--nadpis {
    padding: 0;
  }
}
.svatba__cukrovi--item .svatba__cukrovi--popis {
  text-align: center;
  margin: 0;
  font-size: 12px;
}
@media screen and (max-width: 900px) {
  .svatba__cukrovi--item .svatba__cukrovi--popis {
    display: none;
  }
}

.svatba__zakusky {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
@media screen and (max-width: 900px) {
  .svatba__zakusky {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
}
@media screen and (max-width: 760px) {
  .svatba__zakusky {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .svatba__zakusky {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media screen and (max-width: 450px) {
  .svatba__zakusky {
    grid-template-columns: repeat(1, 1fr);
  }
}
.svatba__zakusky .svatba__zakusky--item {
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 2px 2px 5px #C9C8C8;
}
@media screen and (max-width: 1080px) {
  .svatba__zakusky .svatba__zakusky--item {
    padding: 12px;
    border-radius: 15px;
  }
}
@media screen and (max-width: 900px) {
  .svatba__zakusky .svatba__zakusky--item {
    padding: 10px;
  }
}
@media screen and (max-width: 640px) {
  .svatba__zakusky .svatba__zakusky--item {
    padding: 8px;
    border-radius: 10px;
  }
}
.svatba__zakusky .svatba__zakusky--item img {
  background-image: #d0d9d6;
  margin: auto;
  width: 100%;
}
.svatba__zakusky .svatba__zakusky--item .svatba__zakusky--nadpis {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  padding: 0 0 10px 0;
}
.svatba__zakusky .svatba__zakusky--item .svatba__zakusky--popis {
  text-align: center;
  margin: 0;
  font-size: 12px;
}
@media screen and (max-width: 640px) {
  .svatba__zakusky .svatba__zakusky--item .svatba__zakusky--popis {
    display: none;
  }
}

.svatba__kolace {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
@media screen and (max-width: 900px) {
  .svatba__kolace {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
}
@media screen and (max-width: 760px) {
  .svatba__kolace {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .svatba__kolace {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media screen and (max-width: 450px) {
  .svatba__kolace {
    grid-template-columns: repeat(1, 1fr);
  }
}
.svatba__kolace .svatba__kolace--item {
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 2px 2px 5px #C9C8C8;
}
@media screen and (max-width: 1080px) {
  .svatba__kolace .svatba__kolace--item {
    padding: 12px;
    border-radius: 15px;
  }
}
@media screen and (max-width: 900px) {
  .svatba__kolace .svatba__kolace--item {
    padding: 10px;
  }
}
@media screen and (max-width: 640px) {
  .svatba__kolace .svatba__kolace--item {
    padding: 8px;
    border-radius: 10px;
  }
}
.svatba__kolace .svatba__kolace--item img {
  background-image: #d0d9d6;
  margin: auto;
  width: 100%;
}
.svatba__kolace .svatba__kolace--item .svatba__kolace--nadpis {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  padding: 0 0 10px 0;
}
.svatba__kolace .svatba__kolace--item .svatba__text {
  text-align: center;
  margin: 0;
  font-size: 12px;
}

.kontakt {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: #e8dfe1;
  margin-bottom: 40px;
}
@media screen and (max-width: 640px) {
  .kontakt {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 20px;
    gap: 10px;
  }
}

.kontakt__udaje {
  padding: 20px 120px 40px 120px;
}
@media screen and (max-width: 1080px) {
  .kontakt__udaje {
    padding: 20px 60px;
  }
}
@media screen and (max-width: 640px) {
  .kontakt__udaje {
    padding: 20px 40px 10px 40px;
  }
}
@media screen and (max-width: 450px) {
  .kontakt__udaje {
    padding: 0 40px;
  }
}

.kontakt__nadpis {
  font-size: 36px;
  font-family: "Grand Hotel", cursive;
  font-weight: 400;
  padding-bottom: 10px;
}
@media screen and (max-width: 1080px) {
  .kontakt__nadpis {
    font-size: 30px;
  }
}

.kontakt__adresa {
  font-size: 18px;
  padding-bottom: 20px;
}
@media screen and (max-width: 900px) {
  .kontakt__adresa {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .kontakt__adresa {
    font-size: 14px;
    padding-bottom: 10px;
  }
}

.kontakt__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.kontakt__description {
  font-size: 20px;
  font-weight: 600;
}
@media screen and (max-width: 1080px) {
  .kontakt__description {
    font-size: 18px;
  }
}
@media screen and (max-width: 900px) {
  .kontakt__description {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .kontakt__description {
    font-size: 14px;
  }
}

.kontakt__description--item {
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  text-align: right;
}

.kontakt__description--obsah {
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  text-align: left;
}

.kontakt__questions {
  line-height: 1.8;
  padding-bottom: 20px;
}
@media screen and (max-width: 1080px) {
  .kontakt__questions {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .kontakt__questions {
    font-size: 14px;
  }
}

/*.formular {
    padding: 0 120px;
    margin-bottom: 40px;

    p {
        padding-bottom: 20px;
    }
}*/
.mapa {
  padding-top: 20px;
  height: 400px;
  margin-right: 20px;
}
@media screen and (max-width: 640px) {
  .mapa {
    padding: 0 60px;
    margin-bottom: 20px;
  }
}

.mapa__aktiv {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 640px) {
  .mapa__aktiv {
    height: 100%;
  }
}

.menu__nabidka {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 120px 30px 120px;
  justify-items: center;
  gap: 20px;
  margin-bottom: 20px;
  background-color: #e8dfe1;
  width: 100%;
}
@media screen and (max-width: 1080px) {
  .menu__nabidka {
    padding: 20px 90px;
  }
}
@media screen and (max-width: 900px) {
  .menu__nabidka {
    padding: 20px 60px;
  }
}
@media screen and (max-width: 760px) {
  .menu__nabidka {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }
}
@media screen and (max-width: 640px) {
  .menu__nabidka {
    padding: 20px 40px;
    display: block;
  }
}
.menu__nabidka a {
  width: 100%;
  text-decoration: none;
  color: #2b2b2b;
}

.menu__item {
  position: relative;
  overflow: hidden;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .menu__item {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 450px) {
  .menu__item {
    width: 100%;
  }
}
.menu__item:hover .menu__description {
  transform: translateY(-100%);
  transition: transform 0.5s;
}
@media screen and (max-width: 1080px) {
  .menu__item:hover .menu__description:active .menu__description {
    transform: translateY(-100%);
    transition: transform 0.5s;
  }
}
.menu__item .menu__image {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu__item .menu__image:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}
@media screen and (max-width: 1080px) {
  .menu__item .menu__image:hover:active .menu__description {
    transform: translateY(-100%);
    transition: transform 0.5s;
  }
}
.menu__item .menu__description {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  text-align: center;
  font-family: "Grand Hotel", cursive;
  font-weight: 400;
  font-size: 36px;
  padding: 5px 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 1080px) {
  .menu__item .menu__description {
    font-size: 30px;
  }
}
@media screen and (max-width: 450px) {
  .menu__item .menu__description {
    font-size: 24px;
  }
}

.footer {
  background-color: #6c8280;
  color: #d0d9d6;
  text-align: center;
  font-size: 14px;
  line-height: 1.6;
  padding: 40px 0;
  width: 100%;
}
@media screen and (max-width: 1080px) {
  .footer {
    padding: 30px 0;
  }
}
@media screen and (max-width: 640px) {
  .footer {
    padding: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  padding: 0;
  max-width: 1440px;
  font-family: "Open Sans", sans-serif;
  background-color: #fdf7f8;
}

.header__background {
  background-image: url(/images/uvod_hero.jpg);
  padding: 180px 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #987092;
  margin-bottom: 30px;
}
@media screen and (max-width: 1080px) {
  .header__background {
    padding: 150px 20px;
  }
}
@media screen and (max-width: 640px) {
  .header__background {
    padding: 120px 20px;
  }
}
@media screen and (max-width: 450px) {
  .header__background {
    padding: 100px 10px;
  }
}

.header {
  margin: 0;
  position: relative;
}
.header h1 {
  position: absolute;
  font-family: "Grand Hotel", cursive;
  top: 5%;
  left: 5%;
  text-align: center;
  color: white;
  font-size: 48px;
  margin: 0;
  font-weight: 400;
}
@media screen and (max-width: 1080px) {
  .header h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 640px) {
  .header h1 {
    display: none;
  }
}
.header h2 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-family: "Grand Hotel", cursive;
  color: white;
  margin: 0;
  text-align: right;
  font-size: 36px;
  font-weight: 400;
}
@media screen and (max-width: 1080px) {
  .header h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 640px) {
  .header h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 450px) {
  .header h2 {
    display: none;
  }
}
.header img {
  margin: 0;
  position: absolute;
  width: 160px;
  top: 28%;
  left: 45%;
}
@media screen and (max-width: 1080px) {
  .header img {
    width: 140px;
    top: 25%;
    left: 43%;
  }
}
@media screen and (max-width: 640px) {
  .header img {
    top: 15%;
    left: 38%;
  }
}
@media screen and (max-width: 450px) {
  .header img {
    width: 120px;
    top: 15%;
    left: 38%;
  }
}

.hero__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 120px;
  gap: 60px;
  margin: 30px 0;
  width: 100%;
  justify-content: space-around;
}
@media screen and (max-width: 1080px) {
  .hero__menu {
    padding: 0;
    gap: 30px;
  }
}
@media screen and (max-width: 640px) {
  .hero__menu {
    padding: 10px;
    gap: 10px;
    margin: 0;
  }
}
@media screen and (max-width: 450px) {
  .hero__menu {
    padding: 0;
  }
}
.hero__menu a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.hero__menu li {
  list-style: none;
  margin: 0;
  padding: 10px;
  font-size: 50px;
  font-family: "Grand Hotel", cursive;
  font-weight: 400;
  color: #2b2b2b;
  text-align: center;
}
@media screen and (max-width: 1080px) {
  .hero__menu li {
    font-size: 40px;
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 640px) {
  .hero__menu li {
    font-size: 36px;
    padding: 0;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 450px) {
  .hero__menu li {
    font-size: 20px;
    gap: 0;
  }
}
.hero__menu li:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #987092;
          text-decoration-color: #987092;
  text-underline-offset: 10px;
}
@media screen and (max-width: 1080px) {
  .hero__menu li:active {
    text-decoration: underline;
    -webkit-text-decoration-color: #987092;
            text-decoration-color: #987092;
    text-underline-offset: 10px;
  }
}

.error {
  margin: auto;
  margin-top: 60px;
  width: 30%;
  padding-bottom: 60px;
}
.error p {
  font-size: 48px;
  font-family: "Grand Hotel", cursive;
  color: #2b2b2b;
  margin-bottom: 40px;
  text-align: center;
}
.error img {
  width: 100%;
}

.button {
  display: flex;
  margin: 0;
  margin-bottom: 60px;
  justify-content: space-around;
  max-width: 100%;
  padding: 0 120px;
}
@media screen and (max-width: 1080px) {
  .button {
    padding: 15px 90px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 900px) {
  .button {
    padding: 15px 60px;
  }
}
@media screen and (max-width: 640px) {
  .button {
    padding: 20px 40px;
    margin-bottom: 20px;
  }
}
.button a {
  text-decoration: none;
  color: #2b2b2b;
}
.button a:hover {
  color: white;
}
@media screen and (max-width: 1080px) {
  .button a:hover:active {
    color: white;
  }
}

.button__facebook {
  background-color: #d0d9d6;
  font-size: 18px;
  flex: 1 1 auto;
  padding: 10px;
  text-align: center;
  width: 50%;
  margin-right: 30px;
  border-radius: 20px;
}
@media screen and (max-width: 1080px) {
  .button__facebook {
    font-size: 16px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 640px) {
  .button__facebook {
    margin-right: 10px;
    border-radius: 30px;
  }
}
@media screen and (max-width: 450px) {
  .button__facebook {
    font-size: 14px;
    margin-right: 10px;
    border-radius: 30px;
  }
}
.button__facebook:hover {
  font-weight: 600;
  background-color: #6c8280;
}
@media screen and (max-width: 1080px) {
  .button__facebook:hover:active {
    font-weight: 600;
    background-color: #6c8280;
  }
}

.button__instagram {
  background-color: #d0d9d6;
  font-size: 18px;
  flex: 1 1 auto;
  padding: 10px;
  text-align: center;
  width: 50%;
  margin-left: 30px;
  border-radius: 20px;
}
@media screen and (max-width: 1080px) {
  .button__instagram {
    font-size: 16px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 640px) {
  .button__instagram {
    margin-left: 10px;
    border-radius: 30px;
  }
}
@media screen and (max-width: 450px) {
  .button__instagram {
    font-size: 14px;
    margin-right: 10px;
    border-radius: 30px;
  }
}
.button__instagram:hover {
  font-weight: 600;
  background-color: #6c8280;
}
@media screen and (max-width: 1080px) {
  .button__instagram:hover:active {
    font-weight: 600;
    background-color: #6c8280;
  }
}

.doba {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #2b2b2b;
  text-align: left;
  line-height: 1.6;
  background-color: #e8dfe1;
  margin: 0;
  margin-bottom: 60px;
  padding: 20px 120px 20px 120px;
}
@media screen and (max-width: 1080px) {
  .doba {
    padding: 20px 90px;
  }
}
@media screen and (max-width: 900px) {
  .doba {
    padding: 20px 60px;
  }
}
@media screen and (max-width: 640px) {
  .doba {
    padding: 20px 40px;
    margin-bottom: 20px;
  }
}
.doba .doba__nadpis {
  margin-bottom: 5px;
}
.doba .doba__adresa {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;
}
.doba .doba__description {
  margin-bottom: 20px;
  flex: 1 1 50%;
  flex-wrap: nowrap;
  font-size: 18px;
}
@media screen and (max-width: 640px) {
  .doba .doba__description {
    font-size: 16px;
  }
}
.doba .doba__mapa {
  padding: 10px;
  flex: 1 1 auto;
  background-color: #c2a2c0;
  text-align: center;
  flex-wrap: nowrap;
  margin: 0;
  border-radius: 30px;
  width: 30%;
}
@media screen and (max-width: 640px) {
  .doba .doba__mapa {
    width: 25%;
  }
}
.doba .doba__mapa:hover {
  background-color: #987092;
}
@media screen and (max-width: 1080px) {
  .doba .doba__mapa:hover:active {
    background-color: #987092;
  }
}
.doba .doba__mapa a {
  text-decoration: none;
  color: "Grand Hotel", cursive;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
@media screen and (max-width: 640px) {
  .doba .doba__mapa a {
    font-size: 14px;
  }
}
.doba .doba__mapa a:hover {
  font-weight: 600;
  color: white;
}
@media screen and (max-width: 1080px) {
  .doba .doba__mapa a:hover:active {
    font-weight: 600;
    color: white;
  }
}
.doba .doba__open {
  flex: 0 1 50%;
}
.doba .doba__open .doba__time {
  font-size: 18px;
  margin-bottom: 10px;
}
@media screen and (max-width: 640px) {
  .doba .doba__open .doba__time {
    font-size: 16px;
    margin: 0;
  }
}

.actual {
  color: #2b2b2b;
  padding: 20px 120px 0 120px;
  margin-bottom: 60px;
}
@media screen and (max-width: 1080px) {
  .actual {
    padding: 20px 90px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 900px) {
  .actual {
    padding: 20px 60px;
  }
}
@media screen and (max-width: 640px) {
  .actual {
    padding: 20px 40px;
    margin-bottom: 20px;
  }
}
.actual h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.hero__menu--shadow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  margin-bottom: 30px;
  padding: 0 120px;
  justify-content: space-around;
}
@media screen and (max-width: 1080px) {
  .hero__menu--shadow {
    padding: 0 60px;
  }
}
@media screen and (max-width: 640px) {
  .hero__menu--shadow {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    padding: 0 40px;
  }
}
@media screen and (max-width: 450px) {
  .hero__menu--shadow {
    padding: 0;
    margin-bottom: 10px;
  }
}
.hero__menu--shadow a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  flex: 1 1 auto;
  flex-wrap: nowrap;
}
.hero__menu--shadow li {
  list-style: none;
  margin: 0;
  padding: 10px;
  font-size: 40px;
  font-weight: 400;
  font-family: "Grand Hotel", cursive;
  color: #2b2b2b;
  text-align: center;
  color: #858284;
}
@media screen and (max-width: 900px) {
  .hero__menu--shadow li {
    font-size: 34px;
    padding: 5px;
  }
}
@media screen and (max-width: 640px) {
  .hero__menu--shadow li {
    padding: 0;
    font-size: 30px;
  }
}
@media screen and (max-width: 450px) {
  .hero__menu--shadow li {
    font-size: 24px;
  }
}
.hero__menu--shadow li:hover {
  color: #2b2b2b;
  text-decoration: underline;
  -webkit-text-decoration-color: #987092;
          text-decoration-color: #987092;
  text-underline-offset: 10px;
}
@media screen and (max-width: 1080px) {
  .hero__menu--shadow li:hover:active {
    color: #2b2b2b;
    text-decoration: underline;
    -webkit-text-decoration-color: #987092;
            text-decoration-color: #987092;
    text-underline-offset: 10px;
  }
}

.menu__small {
  display: flex;
  justify-content: space-around;
  flex: 0 1 auto;
  padding: 10px 120px;
  margin: 0;
  background-color: #e8dfe1;
  list-style: none;
}
@media screen and (max-width: 1080px) {
  .menu__small {
    padding: 10px 90px;
  }
}
@media screen and (max-width: 900px) {
  .menu__small {
    padding: 10px 60px;
  }
}
@media screen and (max-width: 640px) {
  .menu__small {
    padding: 10px 40px;
  }
}
@media screen and (max-width: 450px) {
  .menu__small {
    padding: 10px 20px;
  }
}

.menu__mainitem--dorty,
.menu__mainitem--zakusky {
  font-size: 30px;
  font-weight: 600;
}
@media screen and (max-width: 900px) {
  .menu__mainitem--dorty,
.menu__mainitem--zakusky {
    font-size: 26px;
  }
}
@media screen and (max-width: 640px) {
  .menu__mainitem--dorty,
.menu__mainitem--zakusky {
    font-size: 22px;
  }
}
@media screen and (max-width: 450px) {
  .menu__mainitem--dorty,
.menu__mainitem--zakusky {
    font-size: 18px;
  }
}
.menu__mainitem--dorty a,
.menu__mainitem--zakusky a {
  text-decoration: none;
  color: #c2a2c0;
}
.menu__mainitem--dorty a:hover,
.menu__mainitem--zakusky a:hover {
  color: #987092;
}
@media screen and (max-width: 1080px) {
  .menu__mainitem--dorty a:hover:active,
.menu__mainitem--zakusky a:hover:active {
    color: #987092;
  }
}

.menu__mainitem--zakusky {
  font-size: 30px;
  font-weight: 600;
}
@media screen and (max-width: 900px) {
  .menu__mainitem--zakusky {
    font-size: 26px;
  }
}
@media screen and (max-width: 640px) {
  .menu__mainitem--zakusky {
    font-size: 22px;
  }
}
@media screen and (max-width: 450px) {
  .menu__mainitem--zakusky {
    font-size: 18px;
  }
}
.menu__mainitem--zakusky a {
  text-decoration: none;
  color: white;
}

.submenu__cakes {
  display: flex;
  padding: 0 120px 20px 120px;
  justify-content: start;
  background-color: #e8dfe1;
  font-size: 18px;
  list-style: none;
  text-decoration: none;
  overflow: hidden;
  margin-bottom: 30px;
}
@media screen and (max-width: 1080px) {
  .submenu__cakes {
    padding: 0 90px 20px 90px;
  }
}
@media screen and (max-width: 900px) {
  .submenu__cakes {
    padding: 0 60px 10px 60px;
  }
}
@media screen and (max-width: 640px) {
  .submenu__cakes {
    padding: 0 40px 10px 40px;
  }
}
@media screen and (max-width: 450px) {
  .submenu__cakes {
    padding: 0 20px 10px 20px;
  }
}
.submenu__cakes a {
  text-decoration: none;
  padding: 0 10px;
  font-size: 20px;
  color: white;
}
@media screen and (max-width: 900px) {
  .submenu__cakes a {
    font-size: 18px;
  }
}
@media screen and (max-width: 640px) {
  .submenu__cakes a {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .submenu__cakes a {
    font-size: 14px;
    padding: 5px;
  }
}
.submenu__cakes a:hover {
  color: #987092;
}
@media screen and (max-width: 1080px) {
  .submenu__cakes a:hover:active {
    color: #987092;
  }
}

.menu__mainitem--dorty a:hover a .submenu__cakes {
  color: #2b2b2b;
}

.menu__mainitem--svatba {
  /*položky dorty, zákusky, svatba - li*/
  font-size: 30px;
  font-weight: 600;
}
@media screen and (max-width: 900px) {
  .menu__mainitem--svatba {
    font-size: 26px;
  }
}
@media screen and (max-width: 640px) {
  .menu__mainitem--svatba {
    font-size: 22px;
  }
}
@media screen and (max-width: 450px) {
  .menu__mainitem--svatba {
    font-size: 18px;
  }
}
.menu__mainitem--svatba a {
  text-decoration: none;
  color: #c2a2c0;
}
.menu__mainitem--svatba a:hover {
  color: #987092;
}
.menu__mainitem--svatba a:hover:active {
  color: #987092;
}

.submenu__svatba {
  display: flex;
  padding: 0 120px 20px 120px;
  justify-content: end;
  background-color: #e8dfe1;
  font-size: 18px;
  list-style: none;
  text-decoration: none;
  overflow: hidden;
  margin-bottom: 60px;
}
@media screen and (max-width: 1080px) {
  .submenu__svatba {
    padding: 0 90px 20px 90px;
  }
}
@media screen and (max-width: 900px) {
  .submenu__svatba {
    padding: 0 60px 10px 60px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 640px) {
  .submenu__svatba {
    padding: 0 40px 10px 40px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 450px) {
  .submenu__svatba {
    padding: 0 20px 10px 20px;
    margin-bottom: 30px;
  }
}
.submenu__svatba a {
  text-decoration: none;
  padding: 0 10px;
  font-size: 20px;
  color: white;
}
@media screen and (max-width: 900px) {
  .submenu__svatba a {
    font-size: 18px;
  }
}
@media screen and (max-width: 640px) {
  .submenu__svatba a {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .submenu__svatba a {
    font-size: 14px;
    padding: 5px;
  }
}
.submenu__svatba a:hover {
  color: #987092;
}
@media screen and (max-width: 1080px) {
  .submenu__svatba a:hover:active {
    color: #987092;
  }
}

html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}/*# sourceMappingURL=style.css.map */