@use "colours";

.actual {
  color: colours.$font-colour;
  padding: 20px 120px 40px 120px;
  margin-bottom: 60px;
  color: colours.$font-colour;
  text-align: left;
  line-height: 1.6;
  background-color: colours.$button-purple-colour-light;

  @media screen and (max-width: 1080px) {
    padding: 20px 90px;
    margin-bottom: 40px;
  }

  @media screen and (max-width: 900px) {
    padding: 20px 60px;
  }

  @media screen and (max-width: 640px) {
    padding: 20px 40px;
    margin-bottom: 20px;
  }

  .actual__nadpis {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 10px;
  }
}
