$font-base:'Open Sans', sans-serif;
$font-motto: 'Grand Hotel', cursive;
$font-colour:#2b2b2b;
$font-colour-shadow: #858284;
$bcg-colour: #fdf7f8;
$footer: #6c8280;
$footer-colour: #d0d9d6;
$button-colour: #d0d9d6;
$button-hover: #6c8280;
$colour-hover:#987092;
$button-purple-colour:#c2a2c0;
$button-purple-colour-light: #e8dfe1;