@use 'colours';

.error {
    margin: 0;
    width: auto;
    margin: 40px;
    
    p {
        font-size: 48px;
        font-family: colours.$font-motto;
        margin-bottom: 40px;
        text-align: center;
    }

    img {
        width: 100%;
    }
}