@use "colours";

.menu__small {
  display: flex;
  justify-content: space-around;
  flex: 0 1 auto;
  overflow: hidden;
  padding: 10px 120px;
  margin-bottom: 60px;
  list-style: none;
  background-color: colours.$button-purple-colour-light;

  @media screen and (max-width: 1080px) {
    padding: 10px 90px;
  }

  @media screen and (max-width: 900px) {
    padding: 10px 60px;
  }

  @media screen and (max-width: 640px) {
    padding: 10px 40px;
  }

  @media screen and (max-width: 450px) {
    padding: 10px 20px;
  }
}

.menu__mainitem--dorty,
.menu__mainitem--zakusky,
.menu__mainitem--svatba {
  text-align: center;
  padding: 5px 0;
  margin: 0;

  @media screen and (max-width: 1080px) {
    font-size: 30px;
  }

  @media screen and (max-width: 450px) {
    font-size: 24px;
  }

  .menu__link {
    text-decoration: none;
    font-family: colours.$font-motto;
    font-weight: 400;
    font-size: 42px;
    color: colours.$font-colour-shadow;

    &:hover {
      color: colours.$font-colour;

      @media screen and (max-width: 1080px) {
        &:active {
          color: colours.$font-colour;
        }
      }
    }
    @media screen and (max-width: 1080px) {
      font-size: 38px;
    }

    @media screen and (max-width: 640px) {
      font-size: 32px;
    }

    @media screen and (max-width: 450px) {
      font-size: 20px;
    }
  }
}

.menu__mainitem--active .menu__link {
  color: colours.$font-motto;
}
