---
layout: layouts/hlavni-sablona.njk
title: Dorty
---

{% include 'partials/hero-menu-shadow.njk' %}

{% include 'partials/menu-cakes.njk' %}
    
<div id="cakes_klasik" class="cakes__klasik">
    
    <div class="cakes__description">
        <h2 class="cakes__nadpis">Klasické dorty</h2>
        <hr class="line__purple">
        <p class="cakes__description--paragr">
            Klasické dorty dodáváme celé, nekrájené i krájené na 12–20 ks podle požadavku.
        </p>
    </div>

    <div class="cake">
        <a data-fslightbox="klasik" href="/images/dorty/klasik/galerie/dort sacher.jpg"><img class="cake__image" src="/images/dorty/klasik/dort sacher--small.jpg" alt="Dort Sacher"></a>
        <h3>Dort Sacher</h3>
            <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href="#"><p class="objednat">objednat</p></a>
            </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
    </div>

    <div class="cake">
        <a data-fslightbox="klasik" href="/images/dorty/klasik/galerie/dort misa.jpg"><img class="cake__image" src="/images/dorty/klasik/dort misa--small.jpg" alt="Dort Míša"></a>
        <h3>Dort Míša</h3>
            <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href="#"><p class="objednat">objednat</p></a>
            </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
    </div>

    <div class="cake">
        <a data-fslightbox="klasik" href="/images/dorty/klasik/galerie/dort_florida.jpg"><img class="cake__image" src="/images/dorty/klasik/dort_florida--small.jpg" alt="dort florida"></a>
        <h3>Dort Florida</h3>
            <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href="#"><p class="objednat">objednat</p></a>
            </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
    </div>

    <div class="cake">
        <a data-fslightbox="klasik" href="/images/dorty/klasik/galerie/dort lesni ovoce.jpg"><img class="cake__image" src="/images/dorty/klasik/dort lesni ovoce--small.jpg" alt="Dort lesní ovoce"></a>
        <h3>Dort se směsí lesního ovoce a plátky tmavé čokolády</h3>
            <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href="#"><p class="objednat">objednat</p></a>
            </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
    </div>

    <div class="cake">
        <a data-fslightbox="klasik" href="/images/dorty/klasik/galerie/dort jahodovy.jpg"><img class="cake__image" src="/images/dorty/klasik/dort jahodovy--small.jpg" alt="Dort jahodový"></a>
        <h3>Dort jahodový s plátky čokolády</h3>
            <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href="#"><p class="objednat">objednat</p></a>
            </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
    </div>

    <div class="cake">
        <a data-fslightbox="klasik" href="/images/dorty/klasik/galerie/dort tropic.jpg"><img class="cake__image" src="/images/dorty/klasik/dort tropic--small.jpg" alt="Dort Tropic"></a>
        <h3>Dort s tropickým ovocem</h3>
            <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href="#"><p class="objednat">objednat</p></a>
            </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
    </div>

    <div class="cake">
        <a data-fslightbox="klasik" href="/images/dorty/klasik/galerie/red_velvet.jpg"><img class="cake__image" src="/images/dorty/klasik/red_velvet--small.jpg" alt="Dort Red velvet"></a>
        <h3>Red velvet</h3>
            <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href="#"><p class="objednat">objednat</p></a>
            </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
    </div>

    <div class="cake">
        <a data-fslightbox="klasik" href="/images/dorty/klasik/galerie/smetanovy s vyberem ovoce.jpg"><img class="cake__image" src="/images/dorty/klasik/smetanovy s vyberem ovoce--small.jpg" alt="Smetanový s výběrem ovoce"></a>
        <h3>Smetanový dort s ovocem dle výběru</h3>
            <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href="#"><p class="objednat">objednat</p></a>
            </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
    </div>
</div>

<div class="button__homeandup">
    <div class="button__home">
        <a href="/">Úvod</a> 
    </div>

    <div class="button__up">
        <a href="#hero_shadow">Nahoru</a> 
    </div>
</div>



<div id="cakes_detske" class="cakes__detske">
    
    <div class="cakes__description">
        <h2 class="cakes__nadpis">Dětské dorty</h2>
        <hr class="line__purple">
        <p class="cakes__description--paragr">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos minima quibusdam sapiente eveniet corrupti harum natus eos, placeat dolorem id tempore architecto excepturi illo! Cumque laudantium rem quis. Placeat, pariatur?
        </p>
    </div>

    <div class="cake">
        <a data-fslightbox="detske" href="/images/dorty/detske/galerie/dort_angry_birds.jpg"><img class="cake__image" src="/images/dorty/detske/dort_angry_birds--small.jpg" alt="Dort Angry Birds"></a>
        <h3>Angry Birds</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>

    <div class="cake">
        <a data-fslightbox="detske" href="/images/dorty/detske/galerie/dort_cerny_drak.jpg"><img class="cake__image" src="/images/dorty/detske/dort_cerny_drak--small.jpg" alt="Dort jak zkrotit draka"></a>
        <h3>Jak zkrotit draka</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>

    <div class="cake">
        <a data-fslightbox="detske" href="/images/dorty/detske/galerie/dort_myši.jpg"><img class="cake__image" src="/images/dorty/detske/dort_myši--small.jpg" alt="Dort Ementál"></a>
        <h3>Myši v ementálu</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>

    <div class="cake">
       <a data-fslightbox="detske" href="/images/dorty/detske/galerie/dort_krokodyl.jpg"><img class="cake__image" src="/images/dorty/detske/dort_krokodyl--small.jpg" alt="Dort krokodýl"></a>
        <h3>Dort Krokodýl</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>

    <div class="cake">
        <a data-fslightbox="detske" href="/images/dorty/detske/galerie/dort_krtecek.jpg"><img class="cake__image" src="/images/dorty/detske/dort_krtecek--small.jpg" alt="Dort krteček"></a>
        <h3>Krteček</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>

    <div class="cake">
        <a data-fslightbox="detske" href="/images/dorty/detske/galerie/dort_srdce_hello_kitty.jpg"><img class="cake__image" src="/images/dorty/detske/dort_srdce_hello_kitty--small.jpg" alt="Dort Hello kitty"></a>
        <h3>Hello Kitty</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>

    <div class="cake">
        <a data-fslightbox="detske" href="/images/dorty/detske/galerie/dort_farma.jpg"><img class="cake__image" src="/images/dorty/detske/dort_farma--small.jpg" alt="Dort farma"></a>
        <h3>Farma</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>

    <div class="cake">
        <a data-fslightbox="detske" href="/images/dorty/detske/galerie/dort_harry_potter.jpg"><img class="cake__image" src="/images/dorty/detske/dort_harry_potter--small.jpg" alt="Dort harry potter"></a>
        <h3>Harry Potter</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>

    <div class="cake">
        <a data-fslightbox="detske" href="/images/dorty/detske/galerie/dort_ledove_kralovstvi.jpg"><img class="cake__image" src="/images/dorty/detske/dort_ledove_kralovstvi--small.jpg" alt="Dort ledové království"></a>
        <h3>Ledové království</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>

    <div class="cake">
        <a data-fslightbox="detske" href="/images/dorty/detske/galerie/dort_morska_vila.jpg"><img class="cake__image" src="/images/dorty/detske/dort_morska_vila--small.jpg" alt="Dort mořská víla"></a>
        <h3>Malá mořská víla</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
</div>

<div class="button__homeandup">
    <div class="button__home">
        <a href="/">Úvod</a> 
    </div>

    <div class="button__up">
        <a href="#hero_shadow">Nahoru</a> 
    </div>
</div>

<div id="cakes_svatba" class="cakes__svatba">

    <div class="cakes__description">
        <h2 class="cakes__nadpis">Svatební dorty</h2>
        <hr class="line__purple">
        <p class="cakes__description--paragr">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, dolorum. Esse, possimus fugit quo neque enim numquam. Cupiditate rem incidunt voluptate rerum corporis necessitatibus eum ipsum, perferendis quisquam laudantium quis.
        </p>
    </div>

    <div class="cake">
        <a data-fslightbox="svatba" href="/images/dorty/svatba/galerie/dort_svatba01.jpg"><img class="cake__image" src="/images/dorty/svatba/dort_svatba01--small.jpg" alt="Dort svatebni"></a>
        <h3>Spolu pod stanem</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>

    <div class="cake">
        <a data-fslightbox="svatba" href="/images/dorty/svatba/galerie/dort_svatba_chryzantemy.jpg"><img class="cake__image" src="/images/dorty/svatba/dort_svatba_chryzantemy--small.jpg" alt="Dort svatebni s chrazyntemami"></a>
        <h3>S chryzantémami</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>

    <div class="cake">
        <a data-fslightbox="svatba" href="/images/dorty/svatba/galerie/svatba_dort_ruzovy.jpg"><img class="cake__image" src="/images/dorty/svatba/svatba_dort_ruzovy--small.jpg" alt="Dort svatebni s růžemi"></a>
        <h3>S růžemi</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>

    <div class="cake">
        <a data-fslightbox="svatba" href="/images/dorty/svatba/galerie/dort_svatba_modry.jpg"><img class="cake__image" src="/images/dorty/svatba/dort_svatba_modry--small.jpg" alt="Dort svatebni s perlami"></a>
        <h3>Modrý s perlami a iniciály</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    
    <div class="cake">
        <a data-fslightbox="svatba" href="/images/dorty/svatba/galerie/dort_svatebni_pinkandwhite.jpg"><img class="cake__image" src="/images/dorty/svatba/dort_svatebni_pinkandwhite--small.jpg" alt="Dort svatebni s ruzemi"></a>
        <h3>S růžovými a bílými růžemi</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>

    <div class="cake">
        <a data-fslightbox="svatba" href="/images/dorty/svatba/galerie/dort_svatba_prirodni.jpg"><img class="cake__image" src="/images/dorty/svatba/dort_svatba_prirodni--small.jpg" alt="Dort prirodni"></a>
        <h3>Přírodní s marcipánovými květy</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    
    <div class="cake">
        <a data-fslightbox="svatba" href="/images/dorty/svatba/galerie/dort_svatebni_ruzovy.jpg"><img class="cake__image" src="/images/dorty/svatba/dort_svatebni_ruzovy--small.jpg" alt="Dort s ruzemi"></a>
        <h3>S růžovými a krémovými růžemi</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>    
    </div>

</div>

<div class="button__homeandup">
    <div class="button__home">
        <a href="/">Úvod</a> 
    </div>

    <div class="button__up">
        <a href="#hero_shadow">Nahoru</a> 
    </div>
</div>

<div id="cakes_vyroci" class="cakes__vyroci">

    <div class="cakes__description">
        <h2 class="cakes__nadpis">Slavnostní dorty</h2>
        <hr class="line__purple">
        <p class="cakes__description--paragr">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptatum culpa nam perferendis cupiditate rerum sequi deserunt dicta consequatur molestias! Voluptatem aut eveniet dolores rerum iure quae molestias consectetur sequi?
        </p>
    </div>

    <div class="cake">
        <a data-fslightbox="vyroci" href="/images/dorty/vyroci/galerie/dort_80.jpg"><img class="cake__image" src="/images/dorty/vyroci/dort_80--small.jpg" alt="Dort k osmdesatinam"></a>
        <h3>Osmdesáté narozeniny</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>    
    </div>

    <div class="cake">
        <a data-fslightbox="vyroci" href="/images/dorty/vyroci/galerie/dort_80.jpg"><img class="cake__image" src="/images/dorty/vyroci/dort_fiskars--small.jpg" alt="Dort Fiskars"></a>
        <h3>Fiskars k dvacetinám</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>    
    </div>

    <div class="cake">
        <a data-fslightbox="vyroci" href="/images/dorty/vyroci/galerie/dort_80.jpg"><img class="cake__image" src="/images/dorty/vyroci/dort_kachna_se_zelim--small.jpg" alt="Dort kucharovi"></a>
        <h3>Dort Kachna se zelím</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>    
    </div>

    <div class="cake">
        <a data-fslightbox="vyroci" href="/images/dorty/vyroci/galerie/dort_80.jpg"><img class="cake__image" src="/images/dorty/vyroci/dort_kometa--small.jpg" alt="Dort kometa"></a>
        <h3>Oslava hokejové Komety</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>    
    </div>

    <div class="cake">
        <a data-fslightbox="vyroci" href="/images/dorty/vyroci/galerie/dort_80.jpg"><img class="cake__image" src="/images/dorty/vyroci/dort_narozeniny03_galerie--small.jpg" alt="Dort zabijačka"></a>
        <h3>Zabijačka pro dědu</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>    
    </div>

    <div class="cake">
        <a data-fslightbox="vyroci" href="/images/dorty/vyroci/galerie/dort_80.jpg"><img class="cake__image" src="/images/dorty/vyroci/dort_ruze55--small.jpg" alt="Dort s ruzemi"></a>
        <h3>Kulatý s růžemi pro maminku</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>    
    </div>

    <div class="cake">
        <a data-fslightbox="vyroci" href="/images/dorty/vyroci/galerie/dort_80.jpg"><img class="cake__image" src="/images/dorty/vyroci/dort_srdce_babicce--small.jpg" alt="Dort srdce"></a>
        <h3>Srdce pro babičku</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>    
    </div>

    <div class="cake">
        <a data-fslightbox="vyroci" href="/images/dorty/vyroci/galerie/dort_80.jpg"><img class="cake__image" src="/images/dorty/vyroci/dort_vcelky--small.jpg" alt="Dort vceli plastev"></a>
        <h3>Včelí plástev</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>    
    </div>

    <div class="cake">
        <a data-fslightbox="vyroci" href="/images/dorty/vyroci/galerie/dort_80.jpg"><img class="cake__image" src="/images/dorty/vyroci/dort_veterina--small.jpg" alt="Dort s motivem veteriny"></a>
        <h3>K promoci na veterině</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>    
    </div>

    <div class="cake">
        <a data-fslightbox="vyroci" href="/images/dorty/vyroci/galerie/dort_80.jpg"><img class="cake__image" src="/images/dorty/vyroci/dort_coko_ovoce--small.jpg" alt="Dort smetanový s čokoládou a ovocem"></a>
        <h3>Dort smetanový s čokoládou a ovocem</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>    
    </div>

    <div class="cake">
        <a data-fslightbox="vyroci" href="/images/dorty/vyroci/galerie/dort_80.jpg"><img class="cake__image" src="/images/dorty/vyroci/red_velvet_rafaelo--small.jpg" alt="Dort red velvet s ovocema rafaelo"></a>
        <h3>Red velvet s ovocem a rafaelo</h3>
            <!-- <div class="cake__buttons">
                <p class="cena">650 Kč</p>
                <a href=""><p class="objednat">objednat</p></a>
            </div> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>    
    </div>
</div>

<div class="button__homeandup">
    <div class="button__home">
        <a href="/">Úvod</a> 
    </div>

    <div class="button__up">
        <a href="#hero_shadow">Nahoru</a> 
    </div>
</div>



