---
layout: layouts/hlavni-sablona.njk
title: Sladká tečka
---

{% include 'partials/hero-menu.njk' %}

{% include 'partials/menu-nabidka.njk' %}

<div class="actual">
    <h2 class="actual__nadpis">Aktuálně</h2>
    <p class="doba__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti illum rem a. Inventore eius molestiae, magni perspiciatis illum rerum fugit debitis neque animi, ratione eaque ipsam nisi dolores officiis possimus.</p>
</div>

<div class="doba">
    <div class="doba__adresa">
        <h3 class="doba__nadpis">Adresa</h3>
        <p class="doba__description">Zákusky k osobnímu odběru si můžete vyzvednout, dle otvírací doby, na adrese:<br>
        Brno-Žebětín, Drdy 46, 641 00 </p>
    </div>

    <a class="doba__odkaz" href="/kontakt/">
        <p class="doba__mapa">Mapa</p>
    </a>
 
    <div class="doba__open">
        <h3 class="doba__nadpis">Otevřeno</h3>
        <p class="doba__time">Pondělí–Pátek od 7.00 – 15.00 </p>
        <p class="doba__description"> Zákusky do prodejen rozvážíme v pondělí, středu, pátek, (sobotu) <br>
        Pro objednávky a dotazy nás kontaktujte.</p>
    </div>

</div>

<div class="button">
    <a class="button__facebook" href="https://www.facebook.com/zakuskyadortiky">Facebook</a>    
    <a class="button__instagram" href="#">Instagram</a> 
</div>

