---
layout: layouts/hlavni-sablona.njk
title: Sladká tečka
---

{% include 'partials/hero-menu.njk' %}

{% include 'partials/menu-nabidka.njk' %}

<div class="actual">
    <h2>Aktuálně</h2>
</div>

<div class="doba">
    <h3 class="doba__nadpis">Adresa</h3>
    <div class="doba__adresa">
        <div class="doba__description">
            <p>Zákusky k osobnímu odběru si můžete vyzvednout, dle otvírací doby, na adrese:</p>
            <p>Brno-Žebětín, Drdy 46, 641 00 </p>
        </div>

        <div class="doba__mapa">
            <a href="/kontakt/">Mapa</a>
        </div>
    </div>

    <div class="doba__open">
        <h3>Otevřeno</h3>
        <p class="doba__time">Pondělí–Pátek od 7.00 – 15.00 <br>
        Zákusky do prodejen rozvážíme v pondělí, středu, pátek, (sobotu) <br>
        Pro objednávky a dotazy nás kontaktujte.</p>
    </div>
</div>

<div class="button">
    <div class="button__facebook">
        <a class="button__link" href="https://www.facebook.com/zakuskyadortiky">Facebook</a>    
    </div>

<div class="button__instagram">
    <a class="button__link" href="#">Instagram</a> 
    </div>
</div>

