---
layout: layouts/hlavni-sablona.njk
title: Kontakt
--- 

{% include 'partials/hero-menu-shadow.njk' %}

{% include 'partials/menu-zakusky.njk' %}

    <div class="kontakt">
        <div class="kontakt__udaje">
            <h2 class="kontakt__nadpis">Kontakt</h2>

            <div class="kontakt__item">
                <h3 class="kontakt__description">Cukrářství Kateřina Jelínková</h3>
                <p class="kontakt__adresa"> 
                    Drdy 46 <br>
                    Brno-Žebětín <br>
                    641 00
                </p>
            </div>
            
           <hr class="line"> 

            <p class="kontakt__questions">
                Chcete se nás na něco zeptat? <br>
                Odeslat nám objednávku? <br>
                Domluvit si schůzku? <br>
                Ozvěte se nám na mail nebo telefonicky.
            </p>
        
        <p class="kontakt__description">777 666 555</p>
        <p class="kontakt__description">SladkaTecka@gmail.com</p>
    </div>
    
    <div class="mapa">
        <h2>Mapa</h2>
    
        <div class="mapa__activ">Tady bude mapa</div>
      
    </div>

    <!--<div class="formular">
        <form>
            Jméno a příjmení <br>
            <input name="jmeno" >
            Váš e-mail <br>
            <input type="email">
            Telefonní číslo <br>
            <input type="number">
            Co byste chtěli vědět?
            <input type="text">
        </form>

        <button class="button__send">
            <a href="#">Odeslat</a>
        </button>
    </div>-->
</div>

<div class="button__homeandup">
    <div class="button__home">
        <a href="#">Úvod</a> 
    </div>

    <div class="button__up">
        <a href="#">Nahoru</a> 
    </div>
</div>