---
layout: layouts/hlavni-sablona.njk
title: Sladká tečka
---   

{% include 'partials/hero-menu-shadow.njk' %}

{% include 'partials/menu-zakusky.njk' %}

    <div class="onas">

        <div class="onas__majitelka">
            <div>
                <h2 class="onas__nadpis">Majitelka cukrářství</h2>
                <hr class="line__purple">
            </div>
            <div class="onas__description">
                <p class="onas__text"> 
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque repellat maiores quibusdam distinctio id officia vel dolore suscipit. Voluptates, dicta. Lorem ipsum dolor sit amet consectetur adipisicing elit. In, magnam ullam at ex placeat distinctio tempore aperiam ea est, necessitatibus saepe debitis enim perspiciatis nesciunt incidunt aspernatur cum minima ut!
                </p>
            </div>
            <div class="onas__foto--majitelka">
                <img src="/images/onas/cukrarka.jpg" alt="Majitelka cukrářství">
            </div>
        </div>  

    <div class="onas__interiery">
        <div>
            <h2 class="onas__nadpis">Interiéry Cukrářství</h2>
            <hr class="line__purple">
        </div>
        <div class="onas__description">
            <p class="onas__text">
                 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde a vitae nobis deleniti ipsum similique. Vero exercitationem minima, iusto sed, quam esse dolorum totam deserunt beatae voluptas eius hic. Hic eum incidunt dolore rerum illo nesciunt veniam ducimus voluptatibus. Inventore odio aperiam illum aspernatur repellendus eos iusto doloremque obcaecati totam fuga, impedit porro blanditiis? Ducimus at et nemo ut suscipit.
            </p>
        </div>    
            <img src="/images/onas/cukrarna01.jpg" alt="cukrárna">
            <img src="/images/onas/cukrarna02.jpg" alt="cukrárna">
            <img src="/images/onas/cukrarna04.jpg" alt="cukrárna">
    </div>

    <div class="onas__tym">
        <div>
            <h2 class="onas__nadpis">Náš tým</h2>
            <hr class="line__purple">
        </div>
        <div class="onas__clen--veronika">
            <h3 class="onas__tym--clenove">Veronika</h3>
            <hr class="line__purple">
            <p class="onas__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium explicabo provident delectus placeat eligendi cum non exercitationem, labore sed odio nobis aliquid perferendis ab ullam ipsa soluta eum nostrum dolores?
            </p>
        </div>
        <div class="ona__foto--tym">
            <img class="onas__foto" src="/images/onas/cukrarka_veronika.jpg" alt="Cukrářka veronika">    
        </div>
        <div class="onas__clen--martina">
            <h3 class="onas__tym--clenove">Martina</h3>
            <hr class="line__purple">
                <p class="onas__text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium explicabo provident delectus placeat eligendi cum non exercitationem, labore sed odio nobis aliquid perferendis ab ullam ipsa soluta eum nostrum dolores?
                </p>
        </div>    
            <img class="onas__foto--tym" src="/images/onas/cukrarka_martina.jpg" alt="cukrářka martina">    
        </div>
    
        <div class="button__homeandup">
            <div class="button__home">
                <a href="#">Úvod</a> 
            </div>
    
            <div class="button__up">
                <a href="#hero_shadow">Nahoru</a> 
            </div>
    </div>
    
    </div>  