---
layout: layouts/hlavni-sablona.njk
title: Sladká tečka
--- 

{% include 'partials/hero-menu-shadow.njk' %}

{% include 'partials/menu-svatba.njk' %}

        <div class="svatba__navod">
        <p class="svatba__navod--text">Vaši svatební přání si rádi poslechneme osobně. Pro inspiraci se podívejte níže.</p>
        
        <p class="svatba__navod--text">Můžete nás oslovit přes e-mail nebo telefonicky. 
            <a class="svatba__kontakt" href="/kontakt/">Kontakt</a></p>

        <p class="svatba__navod--text">Svatební zakázku řešíme vždy osobně, bez objednávkového formuláře, kvůli její složitosti a náročnosti.</p>

        <p class="svatba__navod--text">Je nutné, abyste objednávali nejpozději 14 dní před termínem vyzvednutí. </p>
    </div>

<div id="svatba_dorty" class="svatba__item">
    <div class="svatba__dorty--popis">
    <h2 class="svatba__nadpis--item">Svatební dorty</h2>
    <hr class="line__purple">
    <p class="svatba__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non velit cumque iusto culpa, nobis autem? Inventore numquam nam maiores deserunt temporibus rerum ea velit esse amet dolorem. Eos, dicta possimus?</p>

    <div class="svatba__item--cakes">
        <div class="svatba__item--corpus">
            <h3 class="svatba__item--nadpis">Korpusy</h3>
            <ul>
                <li class="svatba__item--seznam">vanilkový</li>
                <li class="svatba__item--seznam">čokoládový</li>
                <li class="svatba__item--seznam">oříškový</li>
                <li class="svatba__item--seznam">...</li>
            </ul>
        </div>

        <div class="svatba__item--cream">
            <h3 class="svatba__item--nadpis">Krémy</h3>
            <ul>
                <li class="svatba__item--seznam">vanilkový</li>
                <li class="svatba__item--seznam">čokoládový</li>
                <li class="svatba__item--seznam">kávový</li>
                <li class="svatba__item--seznam">oříškový</li>
                <li class="svatba__item--seznam">...</li>
            </ul>
        </div>

        <div class="svatba__item--decorate">
            <h3 class="svatba__item--nadpis">Zdobení dortů</h3>
            <ul>
                <li class="svatba__item--seznam">krémem</li>
                <li class="svatba__item--seznam">potažení fondánem</li>
                <li class="svatba__item--seznam">politý čokoládou</li>
                <li class="svatba__item--seznam">...</li>
            </ul>
        </div>
    </div>    

    <p class="svatba__text">Cena je 450–600 Kč za kd dortu. Standartní dvoupatrový dort váží 4,5–5,5 kg.</p>

    <div class="svatba__dorty">
        <div class="svatba__dort--item">
            <img class="svatba__photo--dort" src="/images/dorty/svatba/dort_svatba_chryzantemy--small.jpg" alt="Dort svatební">
        </div>

        <div class="svatba__dort--item">
            <img class="svatba__photo--dort" src="/images/dorty/svatba/dort_svatba_ruzovy--small.jpg" alt="Dort svatební">
        </div>

        <div class="svatba__dort--item">
            <img class="svatba__photo--dort" src="/images/dorty/svatba/dort_svatba_zeleny--small.jpg" alt="Dort svatební">
        </div>

        <div class="svatba__dort--item">
            <img class="svatba__photo--dort" src="/images/dorty/svatba/dort_svatba_prirodni--small.jpg" alt="Dort svatební">
        </div>
    </div>
</div>

</div>

<div class="button__homeandup">
    <div class="button__home">
        <a href="/">Úvod</a> 
    </div>

    <div class="button__up">
        <a href="#hero_shadow">Nahoru</a> 
    </div>
</div>

<div id="svatba_cukrovi" class="svatba__item">
    <h2 class="svatba__nadpis--item">Svatební cukroví</h2>
    <hr class="line__purple">
    <p class="svatba__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, pariatur iste. Consequuntur, nesciunt doloribus nisi officiis sequi dolorem praesentium sit, temporibus, delectus earum ducimus porro cum inventore repudiandae laborum in?<br>
    Cena za kg je 850 Kč. Minimální objednávka jsou 4 kg.</p>

    <div class="svatba__cukrovi">
        <div class="svatba__cukrovi--item">
            <img class="svatba__photo--cukrovi" src="/images/svatba/linecky_kosicek.jpg" alt="Linecký košíček">
            <h3 class="svatba__cukrovi--nadpis">Linecký košíček s ořechovou náplní</h3>
            <p class="svatba__cukrovi--popis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
        </div>
        
        <div class="svatba__cukrovi--item">
            <img class="svatba__photo--cukrovi" src="/images/svatba/vanikovy_ctyrlistek.jpg" alt="Vanilkový čtyřlístek">
            <h3 class="svatba__cukrovi--nadpis">Vanilkový čtyřlístek v cukru</h3>
            <p class="svatba__cukrovi--popis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
        </div>
        
        <div class="svatba__cukrovi--item">
            <img class="svatba__photo--cukrovi" src="/images/svatba/iselske.jpg" alt="Išelské cukroví">
            <h3 class="svatba__cukrovi--nadpis">Išelské s mandlí</h3>
            <p class="svatba__cukrovi--popis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
        </div>
        
        <div class="svatba__cukrovi--item">
            <img class="svatba__photo--cukrovi" src="/images/svatba/rybizove_srdicko.jpg" alt="rybízové srdíčko">
            <h3 class="svatba__cukrovi--nadpis">Rybízové srdíčko</h3>
            <p class="svatba__cukrovi--popis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
        </div>
        
        <div class="svatba__cukrovi--item">
            <img class="svatba__photo--cukrovi" src="/images/svatba/orechovy_trojlistek.jpg" alt="Ořechový trojlístek">
            <h3 class="svatba__cukrovi--nadpis">Ořechové trojlístky s krémem</h3>
            <p class="svatba__cukrovi--popis" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
        </div>
        
        <div class="svatba__cukrovi--item">
            <img class="svatba__photo--cukrovi" src="/images/svatba/linecke_srdicko.jpg" alt="Linecké srdíčko">
            <h3 class="svatba__cukrovi--nadpis">Linecké srdíčko s marmeládou</h3>
            <p class="svatba__cukrovi--popis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
        </div>

        <div class="svatba__cukrovi--item">
            <img class="svatba__photo--cukrovi" src="/images/svatba/linecka_podkova.jpg" alt="Linecká podkova">
            <h3 class="svatba__cukrovi--nadpis">Linecká podkova s krémem</h3>
            <p class="svatba__cukrovi--popis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
        </div>

        <div class="svatba__cukrovi--item">
            <img class="svatba__photo--cukrovi" src="/images/svatba/marcipanova_labut.jpg" alt="Marcipánová labuť">
            <h3 class="svatba__cukrovi--nadpis">Marcipánová labuť</h3>
            <p class="svatba__cukrovi--popis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
        </div>

        <div class="svatba__cukrovi--item">
            <img class="svatba__photo--cukrovi" src="/images/svatba/mocca_ovalek.jpg" alt="Mocca oválek">
            <h3 class="svatba__cukrovi--nadpis">Mocca oválky s kávovým krémem</h3>
            <p class="svatba__cukrovi--popis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
        </div>
        
        <div class="svatba__cukrovi--item">
            <img class="svatba__photo--cukrovi" src="/images/svatba/pantofle.jpg" alt="Linecký pantoflíček">
            <h3 class="svatba__cukrovi--nadpis">Linecký pantoflíček</h3>
            <p class="svatba__cukrovi--popis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
        </div>
    </div>
</div>

<div class="button__homeandup">
    <div class="button__home">
        <a href="/">Úvod</a> 
    </div>

    <div class="button__up">
        <a href="#hero_shadow">Nahoru</a> 
    </div>
</div>


<div id="svatba_zakusky" class="svatba__item">
    <h2 class="svatba__nadpis--item">Zákusky</h2>
    <hr class="line__purple">
    <p class="svatba__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, deserunt cupiditate! Aliquid esse, eius consectetur, autem modi repellendus incidunt nihil, voluptatum ipsam voluptatem ex natus ducimus omnis saepe voluptatibus asperiores.</p>

    <div class="svatba__zakusky">
        <div class="svatba__zakusky--item">
            <img class="svatba__photo--zakusky" src="/images/svatba/svatba_jogurtovy_rez--small.jpg" alt="Jogurtový řez">
            <h3 class="svatba__zakusky--nadpis">Jahodový jogurtový řez</h3>
            <p class="svatba__zakusky--popis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
        </div>

        <div class="svatba__zakusky--item">
            <img class="svatba__photo--zakusky" src="/images/svatba/svatba_pistaciovy_rez--small.jpg" alt="Pistáciový řez">
            <h3 class="svatba__zakusky--nadpis">Pistáciový řez</h3>
            <p class="svatba__zakusky--popis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
        </div>

        <div class="svatba__zakusky--item">
            <img class="svatba__photo--zakusky" src="/images/svatba/svatba_pusinka--small.jpg" alt="Pusinka">
            <h3 class="svatba__zakusky--nadpis">Sněhová pusinka s borůvkami</h3>
            <p class="svatba__zakusky--popis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
        </div>

        <div class="svatba__zakusky--item">
            <img class="svatba__photo--zakusky" src="/images/svatba/svatba_red_velvet--small.jpg" alt="red velvet řez">
            <h3 class="svatba__zakusky--nadpis">Red velvet řezy</h3>
            <p class="svatba__zakusky--popis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>
        </div>
    </div>

</div>

<div class="button__homeandup">
    <div class="button__home">
        <a href="/">Úvod</a> 
    </div>

    <div class="button__up">
        <a href="#hero_shadow">Nahoru</a> 
    </div>
</div>


<div id="svatba_kolace" class="svatba__item">
    <h2 class="svatba__nadpis--item">Koláče</h2>
    <hr class="line__purple">
    <p class="svatba__text"> Nabízíme koláče tvarohové, povidlové a ořechové.<br>
    Minimální objednávka je 100 ks, cca 2 kg, ve variantě jednodruhové, nebo mix ze dvou a tři druhů.<br>
    Cena je 520Kč za 100ks.</p>


    <div class="svatba__kolace">
        <div class="svatba__kolace--item">
            <img class="svatba__photo--kolace" src="/images/kolace/kolace_mak--small.jpg" alt="makové koláče">
            <h3 class="svatba__kolace--nadpis">Makové koláče</h3>
            <!--<p class="svatba__kolace--popis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>-->
        </div>

        <div class="svatba__kolace--item">
            <img class="svatba__photo--kolace" src="/images/kolace/kolace_orechy--small.jpg" alt="ořechové koláče">
            <h3 class="svatba__kolace--nadpis">Ořechové koláče</h3>
            <!--<p class="svatba__kolace--popis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>-->
        </div>

        <div class="svatba__kolace--item">
            <img class="svatba__photo--kolace" src="/images/kolace/kolace_povidla--small.jpg" alt="povidlové koláče">
            <h3 class="svatba__kolace--nadpis">Povidlové koláče</h3>
            <!--<p class="svatba__kolace--popis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>-->
        </div>

        <div class="svatba__kolace--item">
            <img class="svatba__photo--kolace" src="/images/kolace/kolace_tvaroh--small.jpg" alt="tvarohové koláče">
            <h3 class="svatba__kolace--nadpis">Tvarohové koláče</h3>
            <!--<p class="svatba__kolace--popis">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, asperiores.</p>-->
        </div>
    </div>
</div>

<div class="button__homeandup">
    <div class="button__home">
        <a href="/">Úvod</a> 
    </div>

    <div class="button__up">
        <a href="#hero_shadow">Nahoru</a> 
    </div>
</div>

<div id="svatba_vysluzky" class="svatba__item">
    <div class="svatba__vysluzky">
        <h2 class="svatba__nadpis--item">Výslužky</h2>
        <hr class="line__purple">
        <p class="svatba__text">Aut ratione dolor et earum dolor eum repellat quia ut labore quam et totam perspiciatis est internos expedita sed modi maiores. Možnosti výslužek atd. atd.<br>
        Výslužky chystáme ve variantách 250–300 g a 500–600 g.<br>
            Cena je 300 Kč za menší variantu a 450 Kč za větší.</p>
    </div>
</div>

<div class="button__homeandup">
    <div class="button__home">
        <a href="/">Úvod</a> 
    </div>

    <div class="button__up">
        <a href="#hero_shadow">Nahoru</a> 
    </div>
</div>