<div id="hero" class="hero">
    <ul class="hero__menu">
        <a href="/fotogalerie/">
        <div class="hero__item">
            <li>Objednávka</li>
        </div>
        </a>
        <a href="/onas/">
            <div class="hero__item">
                <li>O nás</li>
            </div>
        </a>
        <a href="/kontakt/">
            <div class="hero__item">
                <li>Kontakt</li>
            </div>
        </a>
    </ul>
</div>