<div id="hero">
    <ul class="hero__menu">
        <li class="hero__item {{ 'hero__item--active' if page.fileSlug === ''}} "><a href="/" class="hero__link">Úvod</a></li>

        <li class="hero__item {{ 'hero__item--active' if page.fileSlug === 'objednavka'}}"><a href="/objednavka/" class="hero__link">Objednávka</a></li>

        <li class="hero__item {{ 'hero__item--active' if page.fileSlug === 'onas'}}"><a href="/onas/" class="hero__link">O nás</a></li>

        <li class="hero__item {{ 'hero__item--active' if page.fileSlug === 'kontakt'}}"><a href="/kontakt/" class="hero__link">Kontakt</a></li>
    </ul>
</div>

<hr class="line__purple--menu">