<div class="menu__nabidka--section">
    
    <div class="menu__nabidka--small">
        <div class="menu__item--small">
            <a href="/dorty/">Dorty</a>
        </div>

        <div class="menu__item--small">    
            <a href="/zakusky/">Zákusky</a>
        </div>

        <div class="menu__item--small">
            <a href="/svatba/">Svatba</a>
        </div>
    </div>
</div>