<div id="menu_nabidka" class="menu__nabidka">
    <a href="/dorty/">
        <div class="menu__item">
            <img class="menu__image" src="/images/uvod_dort.jpg" alt="Dort">
            <p class="menu__description">Dorty</p>
        </div>
    </a>
    
    <a href="/zakusky/">
        <div class="menu__item">    
            <img class="menu__image" src="/images/uvod_zakusky.jpg" alt="věneček">
            <div class="menu__description">
                <p>Zákusky</p>
            </div>
        </div>
    </a>

    <a href="/svatba/">
        <div class="menu__item">
            <img class="menu__image" src="/images/uvod_svatba.jpg" alt="Svatební labuť">
            <div class="menu__description">
                <p>Svatba</p>
            </div>
        </div>
    </a>
</div>

