<ul class="menu__small">
    <li class="menu__mainitem--dorty"><a href="/dorty/">Dorty</a></li>
    <li class="menu__mainitem--zakusky"><a href="/zakusky/">Zákusky</a></li>
    <li class="menu__mainitem--svatba"><a  href="/svatba/">Svatba</a></li>
</ul>

