<div class="menu__nabidka--section">
    
    <div class="menu__nabidka--small">
        <div class="menu__item--small">
            <a class="menu__odkaz" href="/dorty/">Dorty</a>
        </div>

        <div class="menu__item--small">    
            <a class="menu__odkaz" href="/zakusky/">Zákusky</a>
        </div>

        <div class="menu__item--small">
            <a class="menu__odkaz" href="/svatba/">Svatba</a>
        </div>
    </div>

    <ul class="menu__svatba">
        <div class="menu__svatba--item">
            <a class="menu__svatba--a" href="#svatba_dorty"><li>Svatební dorty</li></a>
        </div>
        <div class="menu__svatba--item">
            <a class="menu__svatba--a" href="#svatba_cukrovi"><li>Svatební cukroví</li></a>
        </div>
        <div class="menu__svatba--item">
            <a class="menu__svatba--a" href="#svatba_zakusky"><li>Zákusky</li></a>
        </div>
        <div class="menu__svatba--item">
            <a class="menu__svatba--a" href="#svatba_kolace"><li>Koláče</li></a>
        </div>
        <div class="menu__svatba--item">
            <a class="menu__svatba--a" href="#svatba_vysluzky"><li>Výslužky</li></a>
        </div>
    </ul>
</div>