<ul class="menu__small">
    <li class="menu__mainitem--dorty"><a href="/dorty/">Dorty</a></li>
    <li class="menu__mainitem--zakusky"><a href="/zakusky/">Zákusky</a></li>
    <li class="menu__mainitem--svatba"><a  href="/svatba/">Svatba</a></li>
</ul>

<ul class="submenu__svatba">
    <li class="submenu__item"><a href="#svatba_dorty">Dorty</a></li>
    <li class="submenu__item"><a href="#svatba_cukrovi">Cukroví</a></li>
    <li class="submenu__item"><a href="#svatba_zakusky">Zákusky</a></li>
    <li class="submenu__item"><a href="#svatba_kolace">Koláče</a></li>
    <li class="submenu__item"><a href="#svatba_vysluzky">Výslužky</a></li>
</ul>