<ul class="menu__small">
    <li class="menu__mainitem--dorty {{ 'menu__mainitem--active' if page.fileSlug === 'dorty' }}"><a class="menu__link" href="/dorty/">Dorty</a></li>

    <li class="menu__mainitem--zakusky {{ 'menu__mainitem--active' if page.fileSlug === 'zakusky' }}"><a class="menu__link" href="/zakusky/">Zákusky</a></li>

    <li class="menu__mainitem--svatba {{ 'menu__mainitem--active' if page.fileSlug === 'svatba' }}"><a class="menu__link" href="/svatba/">Svatba</a></li>
</ul>

    

    
    

    