<div class="menu__nabidka--section">
    
    <div class="menu__nabidka--small">
        <div class="menu__item--small">
            <a href="/dorty/">Dorty</a>
        </div>

        <div class="menu__item--small">    
            <a href="/zakusky/">Zákusky</a>
        </div>

        <div class="menu__item--small">
            <a href="/svatba/">Svatba</a>
        </div>
    </div>

    <ul class="menu__nabidka--dorty">
        <div class="menu__nabidka--item">
            <a href="#cakes_klasik"><li>Klasické</li></a>
        </div>
        
        <div class="menu__nabidka--item">
            <a href="#cakes_detske"><li>Dětské</li></a>
        </div>
        
        <div class="menu__nabidka--item">
            <a href="#cakes_svatba"><li>Svatební</li></a>
        </div>

        <div class="menu__nabidka--item">
            <a href="#cakes_vyroci"><li>Narozeninové</li></a>
        </div>
    </ul>
</div>