<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet">
    
    <title>Sladká tečka</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>

<a href="/">
<header class="header">
    <div class="header__background"></div>
    <h1 class="header__motto">Jsme cukrářství s tradičními zákusky a dorty</h1>
    <h2 class="header__podpis">Cukrářství Kateřina Jelínková</h2>
    <img class="header__logo" src="/images/logo_sladka_tecka.svg" alt="logo">
</header>  
</a>


{{ content | safe }}


<footer class="footer">
<p class="footer_text"> © Cukrářská výroba Sladká tečka, design Markéta Estel Matysová <br>
SladkaTecka@gmail.com <br>
777 666 555, 777 888 999 <br>
Brno-Žebětín, Drdy 46, 614 00 </p>
</footer>
  
<script src="fslightbox.js"></script>

</body>
</html>